<!DOCTYPE html>
<html>
<head>
  <%= image_tag "rails.png" %>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://www.google.com/jsapi" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
